<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="video_container_div">
        <div class="row">
          <div class="col-md-6 overflow-hidden">
            <div id="local_video_div"></div>
          </div>
          <div class="col-md-6 overflow-hidden">
            <div id="multi_video_container_div"></div>
          </div>
        </div>
        <div class="row">
          <div class="controls" id="controls" style="background-color: grey;
              position: fixed;
              bottom: 0;
              width: 100%;
              text-align: center;">
            <img src="../assets/img/mike.png" style="margin-right: 20px; cursor: pointer;" class="cus_img_icon icon-confo-mute" onclick="audioMute()" title="mute audio" />
            <img src="../assets/img/video.png" style="margin-right: 20px; cursor: pointer;" class="cus_img_icon icon-confo-video-mute" title="mute video" onclick="videoMute()" />
            <img src="../assets/img/end-call.png" style="margin-right: 20px; cursor: pointer;" class="cus_img_icon end_call" title="End_call" onclick="endCall()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>